<div style="text-align:center">
  <img alt="logo" width="100%" src="assets/compressed-logo.png" />
  <h1>
    Portal w trakcie realizacji. Wspomóż projekt, dorzucając się do zrzutki.
  </h1>
  <div
    style="position: relative;padding-bottom: 92%;height: 0;overflow: hidden;"
  >
    <iframe
      style="position: absolute;top:0;left: 0;width: 100%;height: 100%;"
      width="445"
      height="200"
      src="https://zrzutka.pl/k5626a/widget/24"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
  <p>To tu po wpisaniu swojego wyniku dowiesz się gdzie i w jakich latach ten wynik był wystarczający.</p>
  <hr />
  <h3 align="right">Copyright © 2019 Patryk Wertka</h3>
</div>
