<form
  [formGroup]="collegeForm"
  (ngSubmit)="onSubmitCollege()"
  *ngIf="superpowersEnabled"
>
  <mat-form-field>
    <input matInput placeholder="Nazwa uczelni" formControlName="name" />
  </mat-form-field>
  |
  <mat-form-field>
    <input matInput placeholder="Typ uczelni" formControlName="type" />
  </mat-form-field>

  <button mat-fab color="primary" type="submit" [disabled]="!collegeForm.valid">
    +
  </button>
</form>

<form
  [formGroup]="studyFieldForm"
  (ngSubmit)="onSubmitStudyField()"
  *ngIf="superpowersEnabled"
>
  <mat-form-field>
    <input matInput placeholder="Nazwa uczelni" formControlName="college" />
  </mat-form-field>
  |
  <mat-form-field>
    <input matInput placeholder="Nazwa kierunku" formControlName="name" />
  </mat-form-field>
  |
  <mat-form-field>
    <input matInput placeholder="Nazwa wydziału" formControlName="division" />
  </mat-form-field>
  |
  <mat-form-field>
    <input matInput placeholder="Tryb zajęć" formControlName="mode" />
  </mat-form-field>

  <button
    mat-fab
    color="primary"
    type="submit"
    [disabled]="!studyFieldForm.valid"
  >
    +
  </button>
</form>

<div class="horizontal-groups">
  <div *ngFor="let collegesGroup of collegesGroups$ | async">
    <h3>{{ collegesGroup.type }}</h3>

    <div *ngFor="let college of collegesGroup.colleges">
      <h4>{{ college.name }}</h4>

      <mat-card-content>
        <mat-list
          dense
          *ngFor="let studiesByDivisions of college.divisions$ | async"
        >
          <p>{{ studiesByDivisions.division }}</p>
          <mat-list-item *ngFor="let studyfield of studiesByDivisions.studies">
            <mat-icon matListIcon>arrow_right</mat-icon>
            <p matLine>{{ studyfield.name }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </div>
  </div>
</div>

<img
  src="assets/janpatii.jpg"
  *ngIf="superpowersEnabled"
  style="width: 100%;
height: auto;"
/>
