.horizontal-groups {
  display: flex;
  flex-wrap: wrap;
}

.mat-list-item.mat-list-item-word-wrap {
  height: initial !important;
  .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
